// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: 0 auto;
}

.no-posts {
  padding: 50px 10px 30px 100px;
  text-align: center;
  color: #fff;
}

.posts {
  list-style: none;
  margin: 20px auto;
  padding: 0;
  width: 100%;
}
.posts .post {
  position: relative;
}
.posts .post-avatar {
  background: #fff url("http://on.be.net/1Noq5Sf") center/100%;
  height: 80px;
  width: 80px;
  border-radius: 4px;
  position: absolute;
  left: -100px;
  top: 0;
}
.posts .post-avatar.post-avatar--fixed {
  position: fixed;
  left: 50%;
  top: 20px;
  margin-left: -325px;
}
.posts .post-avatar.post-avatar--absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -100px;
  top: auto;
}
.posts .post-content {
  background: #fff;
  border-radius: 4px;
  width: 100%;
}
.posts .post-content img {
  width: 100%;
}
.posts .post-content header, .posts .post-content footer {
  padding: 15px 20px;
}
