/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/
 .btn {
     display: inline-block;
     font: inherit;
     background: none;
     border: none;
     color: inherit;
     padding: 0;
     cursor: pointer;
 }

 .btn:focus {
     outline: 0.5rem auto #4d90fe;
 }

 .visually-hidden {
     position: absolute !important;
     height: 1px;
     width: 1px;
     overflow: hidden;
     clip: rect(1px, 1px, 1px, 1px);
 }

 /* Profile Section */

 .profile {
     padding: 5rem 0;
 }

 .profile::after {
     content: "";
     display: block;
     clear: both;
 }

 .profile-image {
     float: left;
     width: calc(33.333% - 1rem);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 3rem;
 }

 .profile-image img {
     border-radius: 50%;
     height: 50%;
     width: 50%;
 }

 .profile-user-settings,
 .profile-stats,
 .profile-bio {
     float: left;
     width: 100%;
 }

 .profile-user-settings {
   display: inline-flex;
   width: 50%;
   .follow {
     width: 30%;
   }
   .profile-stats {
     top: 0;
     width: 70%;
     ul {
       display: inline-flex;
       padding-inline-start: 10%;
       list-style-type: disc;
       margin-block-start: 0;
       margin-block-end: 0;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
     }
     li {
       margin: 0 5% 0 0;
     }
   }
 }

 .profile-user-name-m {
     display: none;
     font-size: 3.2rem;
     font-weight: 300;
 }

 .profile-user-name-d {
     display: block;
     font-size: 3.2rem;
     font-weight: 300;
 }

 .profile-edit-btn {
     font-size: 1.4rem;
     line-height: 1.8;
     border: 0.1rem solid #dbdbdb;
     border-radius: 0.3rem;
     padding: 0 2.4rem;
     margin-left: 2rem;
 }

 .profile-settings-btn {
     font-size: 2rem;
     margin-left: 1rem;
 }

 .profile-stats li {
     display: inline-block;
     font-size: 1.6rem;
     line-height: 1.5;
     cursor: pointer;
 }

 .profile-bio {
     font-size: 1.6rem;
     font-weight: 400;
     line-height: 1.5;
     bottom:0;
     right:0;
 }

 .profile-real-name,
 .profile-stat-count,
 .profile-edit-btn {
     font-weight: 600;
 }

 /* Gallery Section */

 .gallery {
     display: flex;
     flex-wrap: wrap;
     margin: -1rem -1rem;
     padding-bottom: 3rem;
 }

 .gallery-item {
     position: relative;
     flex: 1 0 22rem;
     margin: 1rem;
     color: #fff;
     cursor: pointer;
 }

 .gallery-item:hover .gallery-item-info,
 .gallery-item:focus .gallery-item-info {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.3);
 }

 .gallery-item-info {
     display: none;
 }

 .gallery-item-info li {
     display: inline-block;
     font-size: 1.7rem;
     font-weight: 600;
 }

 .gallery-item-likes {
     margin-right: 2.2rem;
 }

 .gallery-item-type {
     position: absolute;
     top: 1rem;
     right: 1rem;
     font-size: 2.5rem;
     text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
 }

 .fa-clone,
 .fa-comment {
     transform: rotateY(180deg);
 }

 .gallery-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 /* Loader */

 .loader {
     width: 5rem;
     height: 5rem;
     border: 0.6rem solid #999;
     border-bottom-color: transparent;
     border-radius: 50%;
     margin: 0 auto;
     animation: loader 500ms linear infinite;
 }

 /* Media Query */

 .btn-follow {
   text-decoration: none;
   padding: 7px 0;
   font-weight: normal;
   margin: 6px 0;
   margin-right: 12px;
   display: inline-block;
   min-width: 120px;
   text-align: center;
 }

 .btn-follow.is-following,
 .btn-follow.is-following:hover {
   color: #fff;
   border: 1px solid #70c050;
   background-color: #70c050;
 }

 .btn-follow {
   color: #358cbf;
   border: 1px solid #358cbf;
   border-color: #358cbf;
   width: 100%;
 }

 .btn-follow.is-not-following:hover {
   background-color: #358cbf;
   color: #fff;
 }

 /* iphone 3 */
    @media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) {

     }

    /* iphone 4 */
    @media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) {

     }

    /* iphone 5 */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {

     }

    /* iphone 6, 6s, 7, 8 */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {

     }

    /* iphone 6+, 6s+, 7+, 8+ */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
      .follow {
        padding-top: 10%;
        padding-left: 10%;
      }
      .profile-settings-btn {
        display: none;
      }
      :root {
        font-size: 20px;
      }
      .profile-image img {
          height: 100%;
          width: 100%;
      }
      .profile {
             display: flex;
             flex-wrap: wrap;
             padding: 4rem 0;
         }

         .profile::after {
             display: none;
         }

         .profile-image,
         .profile-user-settings,
         .profile-bio,
         .profile-stats {
             float: none;
             width: auto;
         }

         .profile-image img {
             width: 75%;
         }

         .profile-user-settings {
             flex-basis: calc(100% - 10.7rem);
             display: flex;
             flex-wrap: wrap;
             margin-top: 1rem;
         }

         .profile-user-name-m {
           display: inline-block;
         }

         .profile-user-name-d {
           display: none;
         }

         .profile-edit-btn {
             order: 1;
             padding: 0;
             text-align: center;
             margin-top: 1rem;
         }

         .profile-edit-btn {
             margin-left: 0;
         }

         .profile-bio {
             margin-top: 1.5rem;
         }

         .profile-edit-btn,
         .profile-bio,
         .profile-stats {
             flex-basis: 100%;
         }

         .profile-stats {
             order: 1;
             margin-top: 1.5rem;
         }

         .profile-stats ul {
             display: flex;
             text-align: center;
             padding: 1.2rem 0;
             border-top: 0.1rem solid #dadada;
             border-bottom: 0.1rem solid #dadada;
         }

         .profile-stats li {
             flex: 1;
             margin: 0;
         }

         .profile-stat-count {
             display: block;
         }

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

     }

    /* iphone X */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
      .follow {
        padding-top: 10%;
        padding-left: 10%;
      }
      .profile-settings-btn {
        display: none;
      }
      :root {
        font-size: 20px;
      }
      .profile-image img {
          height: 100%;
          width: 100%;
      }
      .navbar {
        display: none;
      }
      .mobile-bottom-nav{
      	position:fixed;
      	bottom:0;
      	left:0;
      	right:0;
      	z-index:1000;
        margin: 0;

      	//give nav it's own compsite layer
      	will-change:transform;
      	transform: translateZ(0);

      	display:flex;

      	height: 10%;

      	box-shadow: 0 -2px 5px -2px #333;
      	background-color:#fff;

      	&__item{
      		flex-grow:1;
      		text-align:center;
      		font-size:12px;

      		display:flex;
      		flex-direction:column;
      		justify-content:center;
      	}
      	&__item--active{
      		//dev
      		color:red;
      	}
      	&__item-content{
      		display:flex;
      		flex-direction:column;
      	}
      }

      .profile {
             display: flex;
             flex-wrap: wrap;
             padding: 4rem 0;
         }

         .profile::after {
             display: none;
         }

         .profile-image,
         .profile-user-settings,
         .profile-bio,
         .profile-stats {
             float: none;
             width: auto;
         }

         .profile-image img {
             width: 75%;
         }

         .profile-user-settings {
             flex-basis: calc(100% - 10.7rem);
             display: flex;
             flex-wrap: wrap;
             margin-top: 1rem;
         }

         .profile-user-name-m {
           display: inline-block;
         }

         .profile-user-name-d {
           display: none;
         }

         .profile-edit-btn {
             order: 1;
             padding: 0;
             text-align: center;
             margin-top: 1rem;
         }

         .profile-edit-btn {
             margin-left: 0;
         }

         .profile-bio {
             margin-top: 1.5rem;
         }

         .profile-edit-btn,
         .profile-bio,
         .profile-stats {
             flex-basis: 100%;
         }

         .profile-stats {
             order: 1;
             margin-top: 1.5rem;
         }

         .profile-stats ul {
             display: flex;
             text-align: center;
             padding: 1.2rem 0;
             border-top: 0.1rem solid #dadada;
             border-bottom: 0.1rem solid #dadada;
         }

         .profile-stats li {
             flex: 1;
             margin: 0;
         }

         .profile-stat-count {
             display: block;
         }

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
     }

    /* iphone XR */
    @media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 2) {

     }

   /* iphone XS */
    @media only screen and (min-device-width : 375px) and (max-device-height : 812px) and (-webkit-device-pixel-ratio : 3) {

     }

   /* iphone XS Max */
    @media only screen and (min-device-width : 414px) and (max-device-height : 896px) and (-webkit-device-pixel-ratio : 3) {

     }

 @media screen and (max-width: 40rem) {

 }

 /* Spinner Animation */

 @keyframes loader {
     to {
         transform: rotate(360deg);
     }
 }
}
